---
import TeamLayout from '../../layouts/TeamLayout.astro';
import Cascioli from '../../assets/team/Cascioli.jpg';
import Cascioli_qr_blue from '../../assets/team/Cascioli_qr_blue.svg';
import Saldi from '../../assets/team/Saldi.jpg';
import Saldi_qr_blue from '../../assets/team/Saldi_qr_blue.svg';
import Boccolini from '../../assets/team/Boccolini.jpg';
import { Image } from 'astro:assets';

export function getStaticPaths() {
  const pages = [
    {
      member: 'Saldi',
      title: 'Paolo Saldi',
      description: 'Membro della commissione sostenibilità dell’ordine dei dottori commercialisti.',
      image: Saldi,
      qr: Saldi_qr_blue,
      vcard: '/team/Saldi_vcard.vcf',
    },
    {
      member: 'Cascioli',
      title: 'Alessandro Cascioli',
      description: 'Ingegnere energetico con un PhD in Sustainable Energy and Technology.',
      image: Cascioli,
      qr: Cascioli_qr_blue,
      vcard: '/team/Cascioli_vcard.vcf',
    },
    {
      member: 'Boccolini',
      title: 'Emanuele Boccolini',
      description: 'Senior sustainability consultan',
      image: Boccolini,
      qr: Cascioli_qr_blue,
      vcard: '/team/Cascioli_vcard.vcf',
    },
  ];

  return pages.map(({ member, title, description, image, qr, vcard }) => {
    return {
      params: { member },
      props: { title, description, image, qr, vcard },
    };
  });
}

const { title, description, image, qr, vcard } = Astro.props;
---

<TeamLayout>
  <div
    class="bg-cover h-screen w-screen flex items-center justify-center"
    style="background-image: url('https://images.unsplash.com/photo-1439853949127-fa647821eba0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80');"
  >
    <div class="team-contact flex flex-col items-center shadow-lg rounded-lg p-4 bg-white/30 backdrop-blur-2xl w-72">
      <Image
        src={image!}
        alt="profile image"
        width={300}
        height={300}
        format="webp"
        class="h-[120px] w-[120px] md:h-[150px] md:w-[150px] shadow-lg aspect-thumbnail object-cover rounded-bl-3xl rounded-tr-3xl"
      />
      <div class="text-xl font-bold mt-4">{title}</div>
      <div class="flex flex-col justify-between items-center h-full">
        <p class="text-muted mt-2 text-center">{description}</p>

        <a href={vcard} download="vcard" class="team-tag">
          <Image
            src={qr}
            alt="qr code vcard"
            width={60}
            height={60}
            format="webp"
            class="mt-4 h-[130px] w-[130px] md:h-[150px] md:w-[150px] shadow-md shadow-[#0073E6]/30 rounded-lg cursor-pointer hover:shadow-lg hover:shadow-[#0073E6]/30 transition duration-200"
          />
        </a>
      </div>
    </div>
  </div>
</TeamLayout>
