---
import Content from '../widgets/Content.astro';
import Steps from '~/components/widgets/Steps.astro';
---

<>
  <Content
    id="services"
    tagline="Servizi"
    title="Scopri quali percorsi possiamo intraprendere insieme"
    items={[
      {
        title: 'Assessment',
        description: 'Primo passo per l’avvio di un percorso strutturato e consapevole',
      },
      {
        title: 'Dichiarazione di sostenibilità',
        description:
          'Comunicazione degli impatti, rischi e opportunità sostanziali in relazione alle questioni di sostenibilità ambientale, sociale e di governance ',
      },
      {
        title: 'Economia circolare',
        description:
          'Perfezionamento dei modelli di business attraverso la massimizzazione del valore economico delle risorse a disposizione',
      },
      {
        title: 'Sistemi di gestione',
        description: 'Approccio metodico basato sui sitemi di gestione pertinenti alla sostenibilità',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Consulenza</h3>
       Sviluppare una strategia ESG, basata sull’innovazione e costantemente monitorata.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Profilo di sostenibilità degli investimenti',
        description: 'Stima dei profili di sostenibilità degli investimenti per gli istituti di credito',
      },
      {
        title: 'Gestione del rischio di credito',
        description: 'Valutazione dell’influenza del rischio ESG sui rischi finanziari e non finanziari',
      },
      {
        title: 'Sostenibilità del piano di transizione',
        description: 'Adeguare i piani aziendali ai postulati dei piani di transizione Europea',
      },
      // {
      //   title: 'Stakeholder engagement',
      //   description: 'Una buona prassi per lo sviluppo di strategie aziendali condivise',
      // },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1600132806370-bf17e65e942f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2194&q=80',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Finanza Sostenibile</h3>
       Decisioni di finanziamento ESG, e riduzione del rischio finanziario.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'Benchmarking',
        description: 'Analisi comparative delle tendenze di settore in tema di dichiarazione di sostenibilità',
      },
      {
        title: 'Indicatori di sostenibilità',
        description: 'Identificare le metriche necessarie per misurare l’impatto e guidare le scelte strategiche',
      },
      {
        title: 'Sustainability Alert',
        description: 'Strutturare un cruscotto dinamico e predittivo sulle tematiche ESG',
      },
      {
        title: 'Audit periodico di monitoraggio',
        description: 'Incontri periodici con cadenza costante e istituzione dei comitati di sostenibilità',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1508873699372-7aeab60b44ab?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Astronauts Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Reporting</h3>
       Redazione del report di sostenibilità.
    </Fragment>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Obiettivo Valore Aggiunto',
        description: 'Analisi e quantificazione del valore aggiunto legato al piano di sostenibilità aziendale',
      },
      {
        title: 'Formalizzazione politice e procedure ESG',
        description:
          'Implementazione e adeguamento delle politiche e delle procedure interne attraverso le questioni ESG',
      },
      {
        title: 'Risk mitigation',
        description: 'Metodi di attenuazione dei rischi ambientali, sociali e di governance',
      },
      {
        title: 'Formazione',
        description: 'Creare e diffondere una cultura aziendale basata su principi condivisi',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1528716321680-815a8cdb8cbe?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1976&q=80',
      alt: 'Astronauts Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Impact ESG</h3>
       Analisi degli impatti, dei rischi e delle opportunità in relazione alle questioni di sostenibilità.
    </Fragment>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->
  <div class="bg-blue-50 dark:bg-transparent">
    <Steps
      title="Il percorso verso la sostenibilità."
      items={[
        {
          title: 'Step 1: <span class="font-medium">Benchmarking e analisi di materialità</span>',
          description:
            'Analisi tendenze di settore, e richieste normative. Identificazione degli impatti, rischi e opportunità sostanziali in relazione alle questioni di sostenibilità.',
          icon: 'tabler:device-imac-search',
        },
        {
          title: 'Step 2: <span class="font-medium">ESG assessment</em>',
          description:
            'Mappatura e analisi del profilo di sostenibilità; identificazione delle azioni di miglioramento.',
          icon: 'tabler:list-check',
        },
        {
          title: 'Step 3: <span class="font-medium">Piano strategico</span>',
          description:
            'Al fine di <span class="font-bold">creare valore</span>, per l’organizzazione e per il contesto, è necessario strutturare un piano di azione che permetta di individuare il proprio posizionamento e la relativa evoluzione.',
          icon: 'tabler:chess-knight',
        },
        {
          title: 'Ready!',
          icon: 'tabler:check',
        },
      ]}
      image={{
        src: 'https://images.unsplash.com/photo-1593003126851-da06b739fc6c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1839&q=80',
        alt: 'Steps image',
      }}
    />
  </div>
</>
