---
import Layout from '~/layouts/PageLayout.astro';

import Home from '~/components/sections/Home.astro';
import About from '~/components/sections/About.astro';
import Services from '~/components/sections/Services.astro';
import Team from '~/components/sections/Team.astro';

import Features2 from '~/components/widgets/Features2.astro';

import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Impact from '~/components/sections/Impact.astro';

const metadata = {
  title: 'Syntex GreenTech',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Home Widget ******************* -->
  <Home />

  <!-- About Widget ******************* -->

  <About />

  <!-- Services Widget **************** -->

  <Services />

  <!-- Impact Widget **************** -->

  <Impact id="impact" />

  <!-- Team *********** -->

  <div class="bg-blue-50 dark:bg-transparent">
    <Team
      id="team"
      title="Team sostenibilità"
      subtitle="Conosci il nostro team multidisciplinare"
      tagline="Contattaci"
    />
  </div>

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Find out more content in our Blog"
    information={`The blog is used to display AstroWind documentation.
                        Each new article will be an important step that you will need to know to be an expert in creating a website using Astro + Tailwind CSS.
                        Astro is a very interesting technology. Thanks.
                `}
  />
</Layout>
