---
import Layout from '~/layouts/PageLayout.astro';

import Home from '~/components/sections/Home.astro';
import About from '~/components/sections/About.astro';
import Services from '~/components/sections/Services.astro';
import Team from '~/components/sections/Team.astro';

import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import Impact from '~/components/sections/Impact.astro';
import Contacts from '~/components/sections/Contacts.astro';

const metadata = {
  title: 'Syntex GreenTech',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Home Widget ******************* -->
  <Home />

  <!-- About Widget ******************* -->

  <About />

  <!-- Services Widget **************** -->

  <Services />

  <!-- Impact Widget **************** -->

  <!-- <Impact id="impact" /> -->

  <!-- Team *********** -->

  <div class="bg-blue-50 dark:bg-transparent">
    <Team id="team" title="Fondatori" subtitle="" tagline="Contattaci" />
  </div>

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts id="blog" title="Rimani aggiornato sui costanti sviluppi in materia sostenibilità" />

  <!-- Contacts Widget **************** -->
  <div class="bg-blue-50 dark:bg-transparent">
    <Contacts />
  </div>
</Layout>
