---
import Layout from '~/layouts/Layout.astro';
import Header from '~/components/widgets/Header.astro';
import Footer from '~/components/widgets/Footer.astro';
import Announcement from '~/components/widgets/Announcement.astro';

import { headerData, footerData } from '~/navigation';

import type { MetaData } from '~/types';
import { Icon } from 'astro-icon/components';

export interface Props {
  metadata?: MetaData;
}

const { metadata } = Astro.props;
---

<Layout metadata={metadata}>
  <slot name="announcement">
    <Announcement />
  </slot>
  <slot name="header">
    <Header {...headerData} isSticky showRssFeed showToggleTheme />
  </slot>
  <main>
    <slot />
  </main>
  <slot name="footer">
    <Footer {...footerData} />
  </slot>
  <!-- Floating Button Widget ******* -->
  <a href="#" class="z-90">
    <button
      title="Torna su"
      class="fixed z-90 bottom-10 right-8 border-[1px] border-blue-600 w-12 h-12 rounded-full drop-shadow-lg flex justify-center items-center hover:border-blue-700 hover:drop-shadow-2xl hover:animate-bounce duration-300"
    >
      <Icon class="w-8 h-8 accordion-icon" name="tabler:chevrons-up" /></button
    >
  </a>
</Layout>
